body{
    background-image: linear-gradient(to bottom, #b2fcff, #49e0ff, #00bfff, #0097ff, #3e64ff);
    background-attachment: fixed;
    color: #464159;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.contenido {
    width: 60vw;
    height: 100vh;
    float: right;
}

.yo{
    font-size: 40px;

}
.div {
    width: 60vw;
    background-color: #ecfcff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
    
}
.menu {
    width: 33vw;
    min-width: 250px;
    height: 90vh;
    position: fixed;
    top: 9px;
    left: 0px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}
.fotito {
    height: 224px;
    min-height: 150px; 
    grid-area: 1 / 3 / 9 / 10;
    border-radius: 50%;
}
.faster {
    grid-area: 11 / 3 / 18 / 9;
    padding: 0px;
}
.botones {
    list-style: none;
}
.nav-link {
    background-color: #1c87c9;
    border: none;
    color: white;
    min-width: 154px;
    max-width: 41.48%;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.nav-link:hover {
    background-color: #1cc939;
}
.h3,.h4{
    color: #5edfff;

}
.hache3 {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
}
.datos {
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    border-color: rgb(0, 110, 255);
}
.logo {
    max-width: 180px;
}
.acamica {
    max-width: 75px;
}
.portfolio {
    overflow: auto;
}
.cosa {
    list-style: none;
}
.icono {
    height: 150px;
    width: 150px;
    float: left;
    margin: 0%;
}